
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}
@section header{ 
    <p>Home</p>
}
@section footer{
    <h4>Contact Us!</h4>
    <p>penandseller@fake.com</p>
}
<h1>PenandSeller Home</h1>
<img alt="company image" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTm6H97kKEkqt8xFCWmMqfL8dN4UgfS9_AmzewR6X4ZtmKSXn1XMg" /> 
