
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}
@section header{ 
    <p>Home</p>
}
@section footer{
    <h4>Contact Us!</h4>
    <p>penandseller@fake.com</p>
}
<h1>Home Content</h1>

