@model IEnumerable<BlogPost>

@if (Model != null)
{
    foreach (var b in Model)
    {
        <nav>
            @{ string timeStamp = b.Timestamp.ToString(); }
            <ul id="blogLinks">
                <li>@Html.ActionLink(b.Title, "SingleBlogPostView", new { ID = b.ID })</li>
                <li>@timeStamp</li>
                <li>@Html.ActionLink("Edit Post", "Edit", new { ID = b.ID })</li>
            </ul>
        </nav>
        <br /><br />
    }
    using (Html.BeginForm())
    {
        <label for="uxFilter">Filter by Keyword</label>
        <input type="text"  id="uxFilter"  name="filter" />
        <button type="submit">Submit</button>
        }
    }