
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
        <span>PenandSeller <br />
            Prices and service so good you'll think we're magic.com
        </span>
        @RenderSection("header", required: false)
    </header>
    <main>@RenderBody()</main>
    @RenderSection("footer", required: false)
</body>
</html>
