@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "About Us";
}
<div class="pageContent">
@section header{
    <p>About Our Company</p>
}
@section footer{
    <p>Contact Us!</p>
}
<div class="aboutContent">
    <h1>About Content</h1>
    <p class="about">
        Pen and Seller began from humble beginnings in upscale Klamath Falls, Oregon.
        We loved stationary and stickers so much that we wanted to share our love with the
        the great educators of the world.
    </p>
    <p class="about">
        My husband and I began this company in the year of our beautiful son's birth when stickers
        and stationary were only avaliable to the most prestigious of schools. We carry a large
        amount of animals stickers and scenery stationary at afforable prices. Please browse our
        unique selection of fun and educational stationary and stickers, including the rare balloon
        dog sticker.
    </p>
</div>
</div>