@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Delete Categories";
}

<div class="pageContent">
    <h1>Unable to delete</h1>
    <h2>Products exist in category</h2>
    @Html.ActionLink("Back", "Index", "Categories")
</div>