@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit Categories";
}
@model CategoriesModel

<div class="pageContent">
    <h1>Edit Category</h1>

    @using (Html.BeginForm())
    {
        @Html.EditorForModel()
        <br />
        <button type="submit">Submit</button>
    }
</div>

