<connectionStrings>
  <add name="Aura" providerName="System.Data.SqlClient" connectionString="Server=aura.cset.oit.edu;Database=stephanie_vetter;User ID=stephanie_vetter;Password=Joshua87!;" />
  <add name="SampleDB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Alan\Source\Repos\CST465-Samples\CST465-MVC\App_Data\SampleDB.mdf;Integrated Security=True" />
</connectionStrings>