@model TestQuestion

<div>
    <h2>@Model.ID. @Model.Question</h2>
    @Html.DropDownListFor(m => m.Answer,
                        new SelectList(Enum.GetValues(typeof(Choices))),
                        "Select Answer")
</div>
