@{
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}
@model List<string>

<h2>Roles</h2>
@foreach(string str in Model)
{
    <h3>@str</h3>
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Label("RoleName", "Add Role")
    @Html.TextBox("RoleName")
    <br />
    <button type="submit">Submit</button>
}

