@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Contact Page";
}
@section header{
    <p>We want to hear from you!</p>
}
@section footer{
    <p>Contact Us!</p>
} 
<h1>Contact Content</h1>
<h2>h2 styling</h2>
<h3>h3 styling</h3>