@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit Blog Post";
}

@model BlogPostModel

<h1>Edit Blog Post</h1>

@using (Html.BeginForm())
{
    @Html.EditorForModel()
    <br />
    <button type="submit">Submit</button>
}
