@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "All Blogs";
}

@model List<BlogPost>

<h1>View/Edit Blogs</h1>
@Html.Partial("~/Views/Shared/_BlogPostLinkList.cshtml", Model)



<br />
<p id="addLink">@Html.ActionLink("Add Post", "Add", "Blog")</p>


