@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "All Blogs";
}

@model List<BlogPost>

<h1>View/Edit Blog</h1>
@Html.Partial("~/Views/Shared/_BlogPostLinkList.cshtml", Model)

@*<h1>Edit Blog</h1>
@foreach(BlogPost b in Model)
{
    <div>
        <h2>@b.Title</h2>
        @Html.ActionLink("Edit Post", "Edit", new { ID=b.ID})
    </div>
}*@
<br />
<p>@Html.ActionLink("Add Post", "Add", "Blog")</p>


