html{background-color: lightgoldenrodyellow; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}
nav#blogs{float: left; width: 25%;}
ul#linksList{padding-left:15px; font-size: 14px}
main#infoForm{float: right; width: 75%;}
footer{clear: both; padding-top: 60px}
label{ text-align:right;
  padding-right:10px;
  padding-bottom:5px;
  display:inline-block;
  min-width:100px;}
#uxSubmit{position:relative; left: 15%;}
