@model List<TestQuestion>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Display Results";
}

@using (Html.BeginForm())
{
    foreach (var question in Model)
    {
        <h2>@question.ID. @question.Question</h2>
        <h3>@question.Answer</h3>
        <br />
    }
}
