@model List<TestQuestion>

@using (Html.BeginForm())
{
    foreach (var question in Model)
    {
        <h2>@question.ID. @question.Question</h2>
        <h3>@question.Answer</h3>
        <br />
    }
}
