@model List<TestQuestion>

@using (Html.BeginForm())
{
    foreach(var question in Model)
    {
        <div id="@question.ID">
            @Html.Partial("~/Views/Midterm/EditorTemplates/" + question.Type + ".cshtml", question)
        </div>
    }
    <br />
    <button type="submit">Submit</button>
}
