@model List<TestQuestion>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Take Test";
}

@using (Html.BeginForm())
{
        <div class="field">
              @Html.EditorForModel() 
        </div>
   
    <br />
    <button type="submit">Submit</button>
}
