@model List<TestQuestion>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Take Test";
}

@using (Html.BeginForm())
{
 //   @Html.EditorForModel()

    foreach(var question in Model)
    {
        <div class="field" id="@question.ID">
            @Html.Partial("~/Views/Midterm/EditorTemplates/" + question.Type + ".cshtml", question)
        </div>
    }
    <br />
    <button type="submit">Submit</button>
}
